page-shopping-list {
    .myFooter {
        background-color: rgb(48, 53, 54);
        text-align: justify;
        justify-content: center;
        align-items: center;
        text-indent: 37px;
        font-size:115%;
      }

      .myInput {
        font-size:120%;
        text-align: justify;
        justify-content: center;
        align-items: center;
        text-indent: 37px;
        font-weight: bold;
        color: rgb(255, 255, 255);
      }
}
